/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will center the form vertically. Adjust as needed. */
    padding: 20px;
    box-sizing: border-box;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Optional: Add a slight shadow for a "card" effect */
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #032863;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #03255c;
  }